<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ngTable - dynamic column - Example</title>
    <script src="../angular.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.min.css">
    <script src="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.js"></script>

    <script type="text/javascript">
    //http://stackoverflow.com/questions/25958745/how-to-add-dynamic-column-in-ng-table-using-complex-object-or-json
        //http://plnkr.co/edit/lO8FhO?p=preview
        (function (angular) {
            'use strict';
            angular.module('exampleApp', ["ngTable"]).
              controller('EventController', ['$scope', 'NgTableParams', function ($scope, NgTableParams) {
                var self = this;
                var data = [
                    {name: "Moroni", age: 50,address:{coun:'USA',state:'sd'}},
                    {name: "Tiancum", age: 43,address:{coun:'UK',state:'sda'}},
                ];
                self.tableParams = new NgTableParams({}, { dataset: data});

                self.columns = [
                    { title: 'Name', field: 'name', visible: true, filter: { 'name': 'text' } },
                    { title: 'Age', field: 'age', visible: true },
                    { title: 'country', field: 'add', visible: true,subfield:'coun' }
                ];


              }]);

        })(window.angular);
    </script>
</head>

<body ng-app="exampleApp">
    <div ng-controller="EventController as vm">

        <table ng-table="vm.tableParams" class="table" show-filter="true">
            <thead>
                <tr>
                    <th ng-repeat="column in vm.columns" ng-show="column.visible"
                        class="text-center sortable" ng-class="{
                            'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                            'sort-desc': tableParams.isSortBy(column.field, 'desc')
                          }"
                        ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
                        {{column.title}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in $data">
                    <td ng-repeat="column in vm.columns" ng-show="column.visible" sortable="column.field">
                        {{user[column.field][column.subfield] || user[column.field]}}
                    </td>
                </tr>
            <tbody>

        </table>

    </div>
</body>
</html>