<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ngTable - responsive - Example</title>
    <script src="../angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.min.css">
    <script src="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.js"></script>

    <script type="text/javascript">
        //http://ng-table.com/#/sorting/demo-sorting-basic
        //http://stackoverflow.com/questions/25958745/how-to-add-dynamic-column-in-ng-table-using-complex-object-or-json
        //http://plnkr.co/edit/lO8FhO?p=preview
        (function (angular) {
            'use strict';
            angular.module('exampleApp', ["ngTable"]).
              controller('EventController', ['$scope', 'NgTableParams', '$filter', function ($scope, NgTableParams, $filter) {
                  var self = this;

                  var data = [
                      { name: "Moroni", age: 50, address: { coun: 'USA', state: 'sd' } },
                      { name: "Tiancum", age: 43, address: { coun: 'UK', state: 'sda' } },
                  ];


                  self.columns = [
                      { title: 'Name', field: 'name', show: true, filter: { 'name': 'text' }, sortable: "name" },
                      { title: 'Age', field: 'age', show: true, sortable: "age" },
                      { title: 'country', field: 'address', show: true, subfield: 'coun', sortable: "address" }
                  ];

                  function init() {
                      for (var i = 0; i < 1000; i++) {
                          self.columns.push({ title: 'test' + i });

                          
                      }
                  }

                  self.tableParams = new NgTableParams({
                      page: 1,            // show first page
                      count: 10,          // count per page
                      filter: {
                          name: 'M'       // initial filter
                      }

                  }, {
                      total: data.length,
                      dataset: data
                  });



                  init();
              }]);

        })(window.angular);
    </script>
</head>

<body ng-app="exampleApp">
    <div ng-controller="EventController as vm">
        <h3>demo</h3>
        <!--<div class="table-responsive" style="width: 500px">
            <table ng-table-dynamic="vm.tableParams with vm.columns" class="table" show-filter="false">
                <tr ng-repeat="user in $data">
                    <td ng-repeat="column in vm.columns">
                        {{user[column.field][column.subfield] || user[column.field] || '1111'}}
                    </td>
                </tr>
            </table>
        </div>-->

        <table ng-table-dynamic="vm.tableParams with vm.columns" class="table  ng-table-responsive" show-filter="false">
            <tr ng-repeat="user in $data">
                <td ng-repeat="column in vm.columns">
                    {{user[column.field][column.subfield] || user[column.field] || '1111'}}
                </td>
            </tr>
        </table>
    </div>
</body>
</html>