.si-glyph-abacus {
  width: 16px;
  height: 16px;
}

.si-glyph-adjustment-horizon {
  width: 17px;
  height: 16px;
}

.si-glyph-adjustment-vertical {
  width: 17px;
  height: 16px;
}

.si-glyph-air-balloon {
  width: 17px;
  height: 16px;
}

.si-glyph-airplane-2 {
  width: 16px;
  height: 16px;
}

.si-glyph-airplane {
  width: 16px;
  height: 16px;
}

.si-glyph-alarm-clock {
  width: 16px;
  height: 16px;
}

.si-glyph-alien {
  width: 17px;
  height: 17px;
}

.si-glyph-aligh-left {
  width: 17px;
  height: 16px;
}

.si-glyph-align-center {
  width: 17px;
  height: 16px;
}

.si-glyph-align-left {
  width: 17px;
  height: 16px;
}

.si-glyph-ambulance {
  width: 16px;
  height: 16px;
}

.si-glyph-anchor {
  width: 17px;
  height: 16px;
}

.si-glyph-android {
  width: 16px;
  height: 16px;
}

.si-glyph-angle-1 {
  width: 17px;
  height: 16px;
}

.si-glyph-angle-2 {
  width: 16px;
  height: 16px;
}

.si-glyph-antenna-1 {
  width: 17px;
  height: 16px;
}

.si-glyph-apron {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-backward {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-change {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-circle-rycycle {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-down {
  width: 17px;
  height: 17px;
}

.si-glyph-arrow-forward {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-four-way {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-fullscreen-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-fullscreen {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-left-right {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-left {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-move {
  width: 16px;
  height: 16px;
}

.si-glyph-arrow-reload {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-resize-1 {
  width: 16px;
  height: 16px;
}

.si-glyph-arrow-resize-2 {
  width: 16px;
  height: 16px;
}

.si-glyph-arrow-resize-3 {
  width: 16px;
  height: 16px;
}

.si-glyph-arrow-resize-4 {
  width: 16px;
  height: 16px;
}

.si-glyph-arrow-resize-5 {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-resize-6 {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-right {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-shuffle {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-thick-down {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-thick-left {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-thick-right {
  width: 17px;
  height: 17px;
}

.si-glyph-arrow-thick-thin-down {
  width: 17px;
  height: 17px;
}

.si-glyph-arrow-thick-thin-up {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-thick-up {
  width: 17px;
  height: 17px;
}

.si-glyph-arrow-thin-down {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-thin-left-bottom {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-thin-left-top {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-thin-left {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-thin-right-bottom {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-thin-right-top {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-thin-right {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-thin-up {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-three-way-1 {
  width: 16px;
  height: 16px;
}

.si-glyph-arrow-three-way-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-triangle-recycle {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-two-left-right {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-two-up {
  width: 17px;
  height: 17px;
}

.si-glyph-arrow-two-way-left-right {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-two-way-right-bottom {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-two-way-right {
  width: 16px;
  height: 16px;
}

.si-glyph-arrow-two-way {
  width: 16px;
  height: 17px;
}

.si-glyph-arrow-up-down {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-up {
  width: 17px;
  height: 16px;
}

.si-glyph-arrow-wave {
  width: 17px;
  height: 16px;
}

.si-glyph-art-board {
  width: 16px;
  height: 17px;
}

.si-glyph-askterisk {
  width: 17px;
  height: 16px;
}

.si-glyph-atm-card {
  width: 17px;
  height: 16px;
}

.si-glyph-axe {
  width: 17px;
  height: 16px;
}

.si-glyph-baby-milk-botl {
  width: 17px;
  height: 16px;
}

.si-glyph-baby-stroller {
  width: 16px;
  height: 16px;
}

.si-glyph-baby-troller {
  width: 17px;
  height: 16px;
}

.si-glyph-baby {
  width: 17px;
  height: 16px;
}

.si-glyph-back-pack {
  width: 17px;
  height: 16px;
}

.si-glyph-backward-page {
  width: 16px;
  height: 16px;
}

.si-glyph-badge-name {
  width: 17px;
  height: 16px;
}

.si-glyph-bag-plus {
  width: 16px;
  height: 16px;
}

.si-glyph-bag-remove {
  width: 16px;
  height: 16px;
}

.si-glyph-bag {
  width: 16px;
  height: 16px;
}

.si-glyph-balance {
  width: 17px;
  height: 16px;
}

.si-glyph-balloon {
  width: 17px;
  height: 16px;
}

.si-glyph-bandage {
  width: 16px;
  height: 16px;
}

.si-glyph-bank {
  width: 17px;
  height: 16px;
}

.si-glyph-barcode {
  width: 17px;
  height: 16px;
}

.si-glyph-barrier {
  width: 17px;
  height: 16px;
}

.si-glyph-baseball-stick {
  width: 17px;
  height: 16px;
}

.si-glyph-baseball {
  width: 17px;
  height: 17px;
}

.si-glyph-basket-arrow-down {
  width: 16px;
  height: 16px;
}

.si-glyph-basket-arrow-left {
  width: 16px;
  height: 16px;
}

.si-glyph-basket-arrow-right {
  width: 16px;
  height: 16px;
}

.si-glyph-basket-arrow-up {
  width: 16px;
  height: 16px;
}

.si-glyph-basket-checked {
  width: 16px;
  height: 16px;
}

.si-glyph-basket-error {
  width: 16px;
  height: 16px;
}

.si-glyph-basket-plus {
  width: 16px;
  height: 16px;
}

.si-glyph-basket-remove {
  width: 16px;
  height: 16px;
}

.si-glyph-basket {
  width: 16px;
  height: 16px;
}

.si-glyph-basketball {
  width: 16px;
  height: 16px;
}

.si-glyph-battery-charging {
  width: 17px;
  height: 16px;
}

.si-glyph-battery-empty {
  width: 17px;
  height: 17px;
}

.si-glyph-battery-full {
  width: 16px;
  height: 16px;
}

.si-glyph-battery-half-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-battery-half {
  width: 17px;
  height: 16px;
}

.si-glyph-battery-low {
  width: 17px;
  height: 16px;
}

.si-glyph-bed {
  width: 17px;
  height: 16px;
}

.si-glyph-bell {
  width: 17px;
  height: 16px;
}

.si-glyph-bicycle-1 {
  width: 16px;
  height: 16px;
}

.si-glyph-bicycle-3 {
  width: 16px;
  height: 16px;
}

.si-glyph-bicycle-man {
  width: 17px;
  height: 17px;
}

.si-glyph-bikini {
  width: 17px;
  height: 16px;
}

.si-glyph-billiard-ball {
  width: 17px;
  height: 16px;
}

.si-glyph-binocular {
  width: 16px;
  height: 16px;
}

.si-glyph-birthday-cake {
  width: 16px;
  height: 16px;
}

.si-glyph-biscuit {
  width: 16px;
  height: 16px;
}

.si-glyph-blender {
  width: 17px;
  height: 17px;
}

.si-glyph-blood-bag {
  width: 17px;
  height: 16px;
}

.si-glyph-bluetooth {
  width: 16px;
  height: 16px;
}

.si-glyph-board {
  width: 17px;
  height: 16px;
}

.si-glyph-boat {
  width: 17px;
  height: 16px;
}

.si-glyph-bolt {
  width: 17px;
  height: 16px;
}

.si-glyph-bomb-1 {
  width: 17px;
  height: 16px;
}

.si-glyph-bomb-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-bone {
  width: 17px;
  height: 16px;
}

.si-glyph-book-1 {
  width: 16px;
  height: 16px;
}

.si-glyph-book-3 {
  width: 17px;
  height: 16px;
}

.si-glyph-book-4 {
  width: 17px;
  height: 16px;
}

.si-glyph-book- {
  width: 16px;
  height: 16px;
}

.si-glyph-book-open {
  width: 16px;
  height: 16px;
}

.si-glyph-book-person {
  width: 17px;
  height: 16px;
}

.si-glyph-bookcase {
  width: 17px;
  height: 16px;
}

.si-glyph-bookmark {
  width: 17px;
  height: 17px;
}

.si-glyph-botl-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-botl-milk {
  width: 16px;
  height: 16px;
}

.si-glyph-bow-tie {
  width: 17px;
  height: 16px;
}

.si-glyph-box-download {
  width: 17px;
  height: 16px;
}

.si-glyph-box-upload {
  width: 17px;
  height: 16px;
}

.si-glyph-box {
  width: 17px;
  height: 16px;
}

.si-glyph-bread {
  width: 16px;
  height: 17px;
}

.si-glyph-briefcase-person {
  width: 16px;
  height: 16px;
}

.si-glyph-briefcase {
  width: 17px;
  height: 16px;
}

.si-glyph-brightness {
  width: 17px;
  height: 16px;
}

.si-glyph-brush-1 {
  width: 17px;
  height: 16px;
}

.si-glyph-brush-2 {
  width: 16px;
  height: 16px;
}

.si-glyph-brush-and-pencil {
  width: 16px;
  height: 16px;
}

.si-glyph-bubble-chat {
  width: 16px;
  height: 16px;
}

.si-glyph-bubble-message-dot-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-bubble-message-dot {
  width: 17px;
  height: 16px;
}

.si-glyph-bubble-message-hi {
  width: 17px;
  height: 16px;
}

.si-glyph-bubble-message-quote {
  width: 17px;
  height: 16px;
}

.si-glyph-bubble-message-talk {
  width: 16px;
  height: 16px;
}

.si-glyph-bubble-message-text {
  width: 17px;
  height: 17px;
}

.si-glyph-bubble-message {
  width: 17px;
  height: 16px;
}

.si-glyph-bucket {
  width: 17px;
  height: 16px;
}

.si-glyph-bug {
  width: 16px;
  height: 16px;
}

.si-glyph-building {
  width: 17px;
  height: 16px;
}

.si-glyph-bullet-checked-list {
  width: 16px;
  height: 16px;
}

.si-glyph-bullet-list-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-bullet-list {
  width: 16px;
  height: 16px;
}

.si-glyph-bus {
  width: 17px;
  height: 16px;
}

.si-glyph-button-arrow-down {
  width: 17px;
  height: 16px;
}

.si-glyph-button-arrow-left {
  width: 17px;
  height: 16px;
}

.si-glyph-button-arrow-right {
  width: 17px;
  height: 16px;
}

.si-glyph-button-arrow-up {
  width: 17px;
  height: 16px;
}

.si-glyph-button-buy {
  width: 17px;
  height: 16px;
}

.si-glyph-button-error {
  width: 17px;
  height: 16px;
}

.si-glyph-button-hd {
  width: 17px;
  height: 16px;
}

.si-glyph-button-play {
  width: 17px;
  height: 16px;
}

.si-glyph-button-plus {
  width: 17px;
  height: 16px;
}

.si-glyph-button-remove {
  width: 17px;
  height: 16px;
}

.si-glyph-button-sale {
  width: 17px;
  height: 16px;
}

.si-glyph-button-sell {
  width: 17px;
  height: 16px;
}

.si-glyph-button-starburst {
  width: 17px;
  height: 16px;
}

.si-glyph-button-triangle-up {
  width: 17px;
  height: 16px;
}

.si-glyph-button-tv {
  width: 17px;
  height: 16px;
}

.si-glyph-cabin-cable {
  width: 17px;
  height: 16px;
}

.si-glyph-cabinet {
  width: 17px;
  height: 16px;
}

.si-glyph-calculator-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-calculator {
  width: 17px;
  height: 16px;
}

.si-glyph-calendar-1 {
  width: 17px;
  height: 17px;
}

.si-glyph-calendar-3 {
  width: 17px;
  height: 16px;
}

.si-glyph-calendar-empty {
  width: 16px;
  height: 16px;
}

.si-glyph-call-forward {
  width: 17px;
  height: 16px;
}

.si-glyph-call-reply {
  width: 17px;
  height: 16px;
}

.si-glyph-call {
  width: 16px;
  height: 16px;
}

.si-glyph-camera-projector {
  width: 17px;
  height: 16px;
}

.si-glyph-camera-security {
  width: 16px;
  height: 16px;
}

.si-glyph-camera {
  width: 17px;
  height: 17px;
}

.si-glyph-can-water {
  width: 17px;
  height: 16px;
}

.si-glyph-candle {
  width: 17px;
  height: 16px;
}

.si-glyph-candy-stick {
  width: 17px;
  height: 17px;
}

.si-glyph-candy {
  width: 17px;
  height: 16px;
}

.si-glyph-car-garage {
  width: 16px;
  height: 16px;
}

.si-glyph-car {
  width: 17px;
  height: 16px;
}

.si-glyph-casette {
  width: 17px;
  height: 16px;
}

.si-glyph-cashier-machine {
  width: 17px;
  height: 17px;
}

.si-glyph-castle {
  width: 17px;
  height: 17px;
}

.si-glyph-caterpillar-machine {
  width: 16px;
  height: 16px;
}

.si-glyph-cente-justify {
  width: 17px;
  height: 16px;
}

.si-glyph-chair-1 {
  width: 17px;
  height: 16px;
}

.si-glyph-chair-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-champion-cup {
  width: 17px;
  height: 16px;
}

.si-glyph-chart-column-decrease {
  width: 17px;
  height: 17px;
}

.si-glyph-chart-column-increase {
  width: 17px;
  height: 16px;
}

.si-glyph-chart-column {
  width: 16px;
  height: 16px;
}

.si-glyph-chart-decrease {
  width: 17px;
  height: 16px;
}

.si-glyph-chart-piece {
  width: 17px;
  height: 16px;
}

.si-glyph-checked {
  width: 17px;
  height: 16px;
}

.si-glyph-cheese {
  width: 17px;
  height: 16px;
}

.si-glyph-cherry {
  width: 17px;
  height: 16px;
}

.si-glyph-christmas-mistletoe {
  width: 16px;
  height: 16px;
}

.si-glyph-christmass-ball {
  width: 16px;
  height: 16px;
}

.si-glyph-christmass-egg {
  width: 16px;
  height: 16px;
}

.si-glyph-christmass-hat {
  width: 17px;
  height: 16px;
}

.si-glyph-christmass-tree {
  width: 16px;
  height: 16px;
}

.si-glyph-circle-backward {
  width: 17px;
  height: 16px;
}

.si-glyph-circle-control-pad {
  width: 16px;
  height: 17px;
}

.si-glyph-circle-drashed {
  width: 17px;
  height: 16px;
}

.si-glyph-circle-error {
  width: 17px;
  height: 16px;
}

.si-glyph-circle-forward {
  width: 17px;
  height: 16px;
}

.si-glyph-circle-help {
  width: 17px;
  height: 16px;
}

.si-glyph-circle-info {
  width: 17px;
  height: 16px;
}

.si-glyph-circle-load-left {
  width: 17px;
  height: 16px;
}

.si-glyph-circle-load-right {
  width: 17px;
  height: 17px;
}

.si-glyph-circle-plus {
  width: 17px;
  height: 16px;
}

.si-glyph-circle-remove {
  width: 17px;
  height: 17px;
}

.si-glyph-circle-star {
  width: 16px;
  height: 16px;
}

.si-glyph-circle-triangle-down {
  width: 17px;
  height: 17px;
}

.si-glyph-circle-triangle-left {
  width: 17px;
  height: 16px;
}

.si-glyph-circle-triangle-right {
  width: 17px;
  height: 16px;
}

.si-glyph-circle {
  width: 17px;
  height: 17px;
}

.si-glyph-city {
  width: 17px;
  height: 16px;
}

.si-glyph-clamp {
  width: 17px;
  height: 16px;
}

.si-glyph-clapboard-play {
  width: 16px;
  height: 17px;
}

.si-glyph-clapboard {
  width: 17px;
  height: 16px;
}

.si-glyph-clip {
  width: 16px;
  height: 16px;
}

.si-glyph-clipboard-checked {
  width: 17px;
  height: 16px;
}

.si-glyph-clipboard {
  width: 17px;
  height: 16px;
}

.si-glyph-clock {
  width: 17px;
  height: 17px;
}

.si-glyph-close {
  width: 17px;
  height: 16px;
}

.si-glyph-cloud-cloud {
  width: 16px;
  height: 16px;
}

.si-glyph-cloud-download {
  width: 16px;
  height: 16px;
}

.si-glyph-cloud-heavy-rain {
  width: 17px;
  height: 17px;
}

.si-glyph-cloud-plus {
  width: 17px;
  height: 16px;
}

.si-glyph-cloud-rain-heavy-rain {
  width: 17px;
  height: 17px;
}

.si-glyph-cloud-remove {
  width: 16px;
  height: 16px;
}

.si-glyph-cloud-snow {
  width: 17px;
  height: 17px;
}

.si-glyph-cloud-sun {
  width: 17px;
  height: 16px;
}

.si-glyph-cloud-thunder {
  width: 17px;
  height: 16px;
}

.si-glyph-cloud-upload {
  width: 16px;
  height: 16px;
}

.si-glyph-cloud {
  width: 17px;
  height: 16px;
}

.si-glyph-clover {
  width: 17px;
  height: 16px;
}

.si-glyph-cock-pot {
  width: 16px;
  height: 16px;
}

.si-glyph-cocktail {
  width: 16px;
  height: 16px;
}

.si-glyph-coconut {
  width: 17px;
  height: 16px;
}

.si-glyph-code {
  width: 17px;
  height: 16px;
}

.si-glyph-coffee-machine {
  width: 17px;
  height: 16px;
}

.si-glyph-color-picker {
  width: 17px;
  height: 16px;
}

.si-glyph-column-decrease {
  width: 17px;
  height: 16px;
}

.si-glyph-column-increase {
  width: 17px;
  height: 16px;
}

.si-glyph-column-wave {
  width: 17px;
  height: 16px;
}

.si-glyph-comb {
  width: 17px;
  height: 16px;
}

.si-glyph-compass {
  width: 17px;
  height: 16px;
}

.si-glyph-cone {
  width: 17px;
  height: 16px;
}

.si-glyph-congratulation-hat {
  width: 16px;
  height: 16px;
}

.si-glyph-connect-1 {
  width: 17px;
  height: 17px;
}

.si-glyph-connect-2 {
  width: 17px;
  height: 17px;
}

.si-glyph-contact-book {
  width: 16px;
  height: 16px;
}

.si-glyph-contacter {
  width: 17px;
  height: 16px;
}

.si-glyph-contrast {
  width: 17px;
  height: 16px;
}

.si-glyph-control-pad- {
  width: 17px;
  height: 16px;
}

.si-glyph-corkscrew {
  width: 17px;
  height: 16px;
}

.si-glyph-corner-flag {
  width: 17px;
  height: 16px;
}

.si-glyph-cover-flow {
  width: 17px;
  height: 17px;
}

.si-glyph-cover-food {
  width: 17px;
  height: 16px;
}

.si-glyph-cow {
  width: 17px;
  height: 16px;
}

.si-glyph-cpu {
  width: 17px;
  height: 16px;
}

.si-glyph-cran {
  width: 17px;
  height: 17px;
}

.si-glyph-crop {
  width: 17px;
  height: 16px;
}

.si-glyph-cross-hair-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-cross-hair {
  width: 17px;
  height: 16px;
}

.si-glyph-crown {
  width: 17px;
  height: 16px;
}

.si-glyph-cruise {
  width: 16px;
  height: 16px;
}

.si-glyph-cubic {
  width: 17px;
  height: 16px;
}

.si-glyph-cup-cake {
  width: 16px;
  height: 16px;
}

.si-glyph-curtain {
  width: 16px;
  height: 16px;
}

.si-glyph-customer-support {
  width: 17px;
  height: 16px;
}

.si-glyph-dashboard {
  width: 17px;
  height: 16px;
}

.si-glyph-data-arrow-down {
  width: 17px;
  height: 16px;
}

.si-glyph-database-download {
  width: 17px;
  height: 16px;
}

.si-glyph-database-error {
  width: 17px;
  height: 16px;
}

.si-glyph-database-plus {
  width: 16px;
  height: 16px;
}

.si-glyph-database-remove {
  width: 16px;
  height: 16px;
}

.si-glyph-database-share {
  width: 16px;
  height: 16px;
}

.si-glyph-database-upload {
  width: 16px;
  height: 16px;
}

.si-glyph-database {
  width: 16px;
  height: 16px;
}

.si-glyph-delete {
  width: 17px;
  height: 17px;
}

.si-glyph-delicious-circle {
  width: 17px;
  height: 17px;
}

.si-glyph-deny {
  width: 17px;
  height: 16px;
}

.si-glyph-desktop {
  width: 17px;
  height: 16px;
}

.si-glyph-dial-number-1 {
  width: 17px;
  height: 16px;
}

.si-glyph-dial-number {
  width: 16px;
  height: 16px;
}

.si-glyph-diamond {
  width: 17px;
  height: 16px;
}

.si-glyph-dice-1 {
  width: 17px;
  height: 17px;
}

.si-glyph-dice-2 {
  width: 17px;
  height: 17px;
}

.si-glyph-dice-3 {
  width: 16px;
  height: 16px;
}

.si-glyph-dice-5 {
  width: 17px;
  height: 16px;
}

.si-glyph-dice-6- {
  width: 17px;
  height: 16px;
}

.si-glyph-dice-6 {
  width: 17px;
  height: 16px;
}

.si-glyph-disc-add {
  width: 17px;
  height: 16px;
}

.si-glyph-disc-deny {
  width: 16px;
  height: 16px;
}

.si-glyph-disc-download {
  width: 16px;
  height: 16px;
}

.si-glyph-disc-error {
  width: 17px;
  height: 16px;
}

.si-glyph-disc-pause {
  width: 16px;
  height: 16px;
}

.si-glyph-disc-play-2 {
  width: 16px;
  height: 16px;
}

.si-glyph-disc-play {
  width: 16px;
  height: 16px;
}

.si-glyph-disc-remove {
  width: 17px;
  height: 16px;
}

.si-glyph-disc-stop {
  width: 16px;
  height: 16px;
}

.si-glyph-disc-upload {
  width: 16px;
  height: 16px;
}

.si-glyph-disc {
  width: 16px;
  height: 16px;
}

.si-glyph-dish {
  width: 17px;
  height: 16px;
}

.si-glyph-disk-antenna {
  width: 16px;
  height: 16px;
}

.si-glyph-dna {
  width: 16px;
  height: 16px;
}

.si-glyph-document-arrow-down {
  width: 16px;
  height: 16px;
}

.si-glyph-document-arrow-left {
  width: 16px;
  height: 16px;
}

.si-glyph-document-arrow-right {
  width: 16px;
  height: 16px;
}

.si-glyph-document-arrow-up {
  width: 16px;
  height: 16px;
}

.si-glyph-document-backward {
  width: 16px;
  height: 16px;
}

.si-glyph-document-bullet-list {
  width: 16px;
  height: 16px;
}

.si-glyph-document-checked {
  width: 16px;
  height: 16px;
}

.si-glyph-document-copy {
  width: 17px;
  height: 16px;
}

.si-glyph-document-doc {
  width: 16px;
  height: 16px;
}

.si-glyph-document-edit {
  width: 16px;
  height: 16px;
}

.si-glyph-document-error {
  width: 17px;
  height: 16px;
}

.si-glyph-document-forward {
  width: 16px;
  height: 16px;
}

.si-glyph-document-help {
  width: 16px;
  height: 16px;
}

.si-glyph-document-music {
  width: 17px;
  height: 16px;
}

.si-glyph-document-pdf {
  width: 16px;
  height: 16px;
}

.si-glyph-document-plus {
  width: 17px;
  height: 16px;
}

.si-glyph-document-remove {
  width: 17px;
  height: 16px;
}

.si-glyph-document-rss {
  width: 16px;
  height: 16px;
}

.si-glyph-document-search {
  width: 16px;
  height: 16px;
}

.si-glyph-document-star {
  width: 16px;
  height: 16px;
}

.si-glyph-document-warning {
  width: 16px;
  height: 16px;
}

.si-glyph-document {
  width: 17px;
  height: 16px;
}

.si-glyph-dog {
  width: 16px;
  height: 16px;
}

.si-glyph-door {
  width: 17px;
  height: 16px;
}

.si-glyph-downstair {
  width: 17px;
  height: 16px;
}

.si-glyph-downwards-arrow-to-bar {
  width: 16px;
  height: 16px;
}

.si-glyph-drill {
  width: 16px;
  height: 16px;
}

.si-glyph-drop-water {
  width: 17px;
  height: 16px;
}

.si-glyph-dropbox {
  width: 16px;
  height: 16px;
}

.si-glyph-drum {
  width: 17px;
  height: 16px;
}

.si-glyph-easal {
  width: 16px;
  height: 16px;
}

.si-glyph-edit {
  width: 16px;
  height: 16px;
}

.si-glyph-egg {
  width: 17px;
  height: 16px;
}

.si-glyph-eject {
  width: 17px;
  height: 16px;
}

.si-glyph-electron {
  width: 17px;
  height: 16px;
}

.si-glyph-elevator-down {
  width: 17px;
  height: 16px;
}

.si-glyph-elevator-up {
  width: 17px;
  height: 16px;
}

.si-glyph-emoticon {
  width: 17px;
  height: 17px;
}

.si-glyph-end-page {
  width: 16px;
  height: 16px;
}

.si-glyph-erase {
  width: 17px;
  height: 16px;
}

.si-glyph-euro {
  width: 17px;
  height: 17px;
}

.si-glyph-excavator {
  width: 16px;
  height: 16px;
}

.si-glyph-extinguisher {
  width: 17px;
  height: 17px;
}

.si-glyph-eye-drop {
  width: 17px;
  height: 16px;
}

.si-glyph-eye-glass {
  width: 17px;
  height: 16px;
}

.si-glyph-factory {
  width: 16px;
  height: 16px;
}

.si-glyph-faucet {
  width: 16px;
  height: 16px;
}

.si-glyph-feather {
  width: 17px;
  height: 17px;
}

.si-glyph-female {
  width: 17px;
  height: 16px;
}

.si-glyph-fence-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-fence {
  width: 17px;
  height: 16px;
}

.si-glyph-file-box {
  width: 17px;
  height: 17px;
}

.si-glyph-file-download {
  width: 17px;
  height: 16px;
}

.si-glyph-file-upload {
  width: 17px;
  height: 16px;
}

.si-glyph-film-35mm {
  width: 16px;
  height: 16px;
}

.si-glyph-film {
  width: 16px;
  height: 17px;
}

.si-glyph-finder {
  width: 16px;
  height: 16px;
}

.si-glyph-finger-up {
  width: 17px;
  height: 16px;
}

.si-glyph-fire-alarm {
  width: 17px;
  height: 16px;
}

.si-glyph-fire-hydrant {
  width: 17px;
  height: 16px;
}

.si-glyph-fire-wood {
  width: 17px;
  height: 16px;
}

.si-glyph-fire {
  width: 17px;
  height: 16px;
}

.si-glyph-first-aid-briefcase {
  width: 17px;
  height: 16px;
}

.si-glyph-fish {
  width: 16px;
  height: 16px;
}

.si-glyph-flag {
  width: 16px;
  height: 16px;
}

.si-glyph-float {
  width: 17px;
  height: 16px;
}

.si-glyph-floppy-disk {
  width: 17px;
  height: 16px;
}

.si-glyph-flower-pot {
  width: 16px;
  height: 17px;
}

.si-glyph-flower {
  width: 16px;
  height: 16px;
}

.si-glyph-folder-contact {
  width: 16px;
  height: 16px;
}

.si-glyph-folder-error {
  width: 17px;
  height: 16px;
}

.si-glyph-folder-music {
  width: 16px;
  height: 16px;
}

.si-glyph-folder-open {
  width: 17px;
  height: 17px;
}

.si-glyph-folder-plus {
  width: 16px;
  height: 16px;
}

.si-glyph-folder-remove {
  width: 17px;
  height: 17px;
}

.si-glyph-folder-rss {
  width: 17px;
  height: 16px;
}

.si-glyph-folder-search {
  width: 16px;
  height: 16px;
}

.si-glyph-folder-share {
  width: 17px;
  height: 16px;
}

.si-glyph-folder-warning {
  width: 17px;
  height: 16px;
}

.si-glyph-folder {
  width: 17px;
  height: 16px;
}

.si-glyph-foot-sign {
  width: 17px;
  height: 16px;
}

.si-glyph-forcus {
  width: 17px;
  height: 16px;
}

.si-glyph-forklift {
  width: 16px;
  height: 16px;
}

.si-glyph-forward-page {
  width: 16px;
  height: 16px;
}

.si-glyph-fridge {
  width: 17px;
  height: 16px;
}

.si-glyph-fullscreen {
  width: 17px;
  height: 17px;
}

.si-glyph-game-1 {
  width: 17px;
  height: 16px;
}

.si-glyph-game-controll {
  width: 17px;
  height: 17px;
}

.si-glyph-gas-station {
  width: 17px;
  height: 17px;
}

.si-glyph-gate {
  width: 17px;
  height: 16px;
}

.si-glyph-gear-1 {
  width: 17px;
  height: 17px;
}

.si-glyph-gear {
  width: 17px;
  height: 16px;
}

.si-glyph-ghost {
  width: 16px;
  height: 17px;
}

.si-glyph-gift {
  width: 16px;
  height: 16px;
}

.si-glyph-glass-water {
  width: 17px;
  height: 16px;
}

.si-glyph-global {
  width: 16px;
  height: 16px;
}

.si-glyph-globe {
  width: 17px;
  height: 16px;
}

.si-glyph-glove {
  width: 16px;
  height: 16px;
}

.si-glyph-golf-ball {
  width: 16px;
  height: 16px;
}

.si-glyph-golf-flag {
  width: 17px;
  height: 16px;
}

.si-glyph-guitar {
  width: 17px;
  height: 16px;
}

.si-glyph-hamburger {
  width: 17px;
  height: 16px;
}

.si-glyph-hammer-and-wrench {
  width: 16px;
  height: 16px;
}

.si-glyph-hammer {
  width: 16px;
  height: 16px;
}

.si-glyph-hand-lamp {
  width: 16px;
  height: 16px;
}

.si-glyph-hand-switch {
  width: 17px;
  height: 17px;
}

.si-glyph-hand {
  width: 17px;
  height: 16px;
}

.si-glyph-handcuff {
  width: 16px;
  height: 14px;
}

.si-glyph-hanger {
  width: 17px;
  height: 16px;
}

.si-glyph-hardware {
  width: 16px;
  height: 17px;
}

.si-glyph-hat-chef {
  width: 17px;
  height: 16px;
}

.si-glyph-hat {
  width: 16px;
  height: 16px;
}

.si-glyph-head-set {
  width: 17px;
  height: 16px;
}

.si-glyph-head {
  width: 16px;
  height: 16px;
}

.si-glyph-heart-delete {
  width: 16px;
  height: 16px;
}

.si-glyph-heart-plus {
  width: 16px;
  height: 16px;
}

.si-glyph-heart-remove {
  width: 16px;
  height: 16px;
}

.si-glyph-heart-signal {
  width: 16px;
  height: 16px;
}

.si-glyph-heart {
  width: 17px;
  height: 16px;
}

.si-glyph-helicopter-pad {
  width: 17px;
  height: 16px;
}

.si-glyph-helicopter {
  width: 17px;
  height: 16px;
}

.si-glyph-helm-wheel {
  width: 17px;
  height: 17px;
}

.si-glyph-helmet {
  width: 17px;
  height: 16px;
}

.si-glyph-hightheel {
  width: 17px;
  height: 16px;
}

.si-glyph-history {
  width: 17px;
  height: 16px;
}

.si-glyph-hockey {
  width: 17px;
  height: 16px;
}

.si-glyph-home-page {
  width: 16px;
  height: 16px;
}

.si-glyph-horse-shoe {
  width: 17px;
  height: 17px;
}

.si-glyph-horse {
  width: 17px;
  height: 16px;
}

.si-glyph-hospital {
  width: 17px;
  height: 16px;
}

.si-glyph-house {
  width: 17px;
  height: 16px;
}

.si-glyph-ice-cream {
  width: 17px;
  height: 17px;
}

.si-glyph-id-badge {
  width: 17px;
  height: 17px;
}

.si-glyph-image {
  width: 17px;
  height: 16px;
}

.si-glyph-in-columns {
  width: 17px;
  height: 16px;
}

.si-glyph-inbox-download {
  width: 17px;
  height: 16px;
}

.si-glyph-inbox-upload {
  width: 17px;
  height: 16px;
}

.si-glyph-infinity-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-infinity {
  width: 16px;
  height: 16px;
}

.si-glyph-info {
  width: 16px;
  height: 16px;
}

.si-glyph-ipod {
  width: 17px;
  height: 16px;
}

.si-glyph-iron {
  width: 17px;
  height: 16px;
}

.si-glyph-jump-backward {
  width: 17px;
  height: 16px;
}

.si-glyph-jump-double-page-left-right {
  width: 17px;
  height: 16px;
}

.si-glyph-jump-forward {
  width: 17px;
  height: 16px;
}

.si-glyph-jump-page-left-right {
  width: 17px;
  height: 16px;
}

.si-glyph-jump-page-up-down {
  width: 17px;
  height: 16px;
}

.si-glyph-kette {
  width: 17px;
  height: 17px;
}

.si-glyph-key-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-key {
  width: 17px;
  height: 16px;
}

.si-glyph-keyboard {
  width: 17px;
  height: 16px;
}

.si-glyph-knife {
  width: 17px;
  height: 16px;
}

.si-glyph-ladder-pool {
  width: 17px;
  height: 16px;
}

.si-glyph-lamp-desk {
  width: 17px;
  height: 17px;
}

.si-glyph-lamp {
  width: 17px;
  height: 16px;
}

.si-glyph-lavabo {
  width: 17px;
  height: 16px;
}

.si-glyph-law-hammer {
  width: 17px;
  height: 17px;
}

.si-glyph-layout-1 {
  width: 17px;
  height: 16px;
}

.si-glyph-layout-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-layout-3 {
  width: 17px;
  height: 17px;
}

.si-glyph-layout-4 {
  width: 17px;
  height: 16px;
}

.si-glyph-leaf {
  width: 16px;
  height: 16px;
}

.si-glyph-left-justify {
  width: 17px;
  height: 17px;
}

.si-glyph-leftwards-arrow-to-bar {
  width: 17px;
  height: 16px;
}

.si-glyph-light-alarm {
  width: 16px;
  height: 16px;
}

.si-glyph-light-bulb {
  width: 16px;
  height: 16px;
}

.si-glyph-light-house {
  width: 17px;
  height: 17px;
}

.si-glyph-like-unlike {
  width: 17px;
  height: 16px;
}

.si-glyph-like {
  width: 17px;
  height: 16px;
}

.si-glyph-line-two-angle-point {
  width: 17px;
  height: 16px;
}

.si-glyph-link-1 {
  width: 17px;
  height: 16px;
}

.si-glyph-link-2 {
  width: 16px;
  height: 16px;
}

.si-glyph-link-3 {
  width: 17px;
  height: 16px;
}

.si-glyph-load {
  width: 17px;
  height: 16px;
}

.si-glyph-lock-unlock {
  width: 17px;
  height: 16px;
}

.si-glyph-lock {
  width: 17px;
  height: 16px;
}

.si-glyph-louder-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-louder-speaker {
  width: 16px;
  height: 16px;
}

.si-glyph-magnet {
  width: 17px;
  height: 16px;
}

.si-glyph-magnifier-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-magnifier {
  width: 17px;
  height: 16px;
}

.si-glyph-mail-box {
  width: 17px;
  height: 16px;
}

.si-glyph-mail-empty {
  width: 17px;
  height: 16px;
}

.si-glyph-mail-has-mail {
  width: 16px;
  height: 16px;
}

.si-glyph-mail-inbox {
  width: 17px;
  height: 16px;
}

.si-glyph-mail-send {
  width: 17px;
  height: 16px;
}

.si-glyph-mail {
  width: 17px;
  height: 16px;
}

.si-glyph-male {
  width: 17px;
  height: 16px;
}

.si-glyph-man-doctor {
  width: 16px;
  height: 16px;
}

.si-glyph-map-3 {
  width: 17px;
  height: 16px;
}

.si-glyph-map-square {
  width: 16px;
  height: 16px;
}

.si-glyph-mark-snorker {
  width: 17px;
  height: 16px;
}

.si-glyph-mask-1 {
  width: 17px;
  height: 16px;
}

.si-glyph-mask-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-medal-star {
  width: 16px;
  height: 16px;
}

.si-glyph-microphone-1 {
  width: 17px;
  height: 16px;
}

.si-glyph-microphone-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-microscope {
  width: 17px;
  height: 16px;
}

.si-glyph-mobile {
  width: 17px;
  height: 16px;
}

.si-glyph-mocule {
  width: 17px;
  height: 16px;
}

.si-glyph-money-dollar {
  width: 17px;
  height: 16px;
}

.si-glyph-money-3 {
  width: 16px;
  height: 17px;
}

.si-glyph-money-bag {
  width: 17px;
  height: 16px;
}

.si-glyph-money-coin {
  width: 17px;
  height: 16px;
}

.si-glyph-moon-star {
  width: 16px;
  height: 17px;
}

.si-glyph-motobike {
  width: 17px;
  height: 16px;
}

.si-glyph-mountain {
  width: 17px;
  height: 17px;
}

.si-glyph-movie-play {
  width: 17px;
  height: 16px;
}

.si-glyph-movie-projector {
  width: 17px;
  height: 17px;
}

.si-glyph-multifunction-knife {
  width: 16px;
  height: 16px;
}

.si-glyph-mushrooms {
  width: 16px;
  height: 17px;
}

.si-glyph-music-note {
  width: 17px;
  height: 16px;
}

.si-glyph-music {
  width: 17px;
  height: 17px;
}

.si-glyph-mustache {
  width: 17px;
  height: 16px;
}

.si-glyph-network-2 {
  width: 16px;
  height: 17px;
}

.si-glyph-network {
  width: 16px;
  height: 16px;
}

.si-glyph-newspaper {
  width: 17px;
  height: 16px;
}

.si-glyph-no-dog {
  width: 17px;
  height: 16px;
}

.si-glyph-no-smoke {
  width: 17px;
  height: 16px;
}

.si-glyph-note-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-note {
  width: 17px;
  height: 16px;
}

.si-glyph-old-phone {
  width: 16px;
  height: 16px;
}

.si-glyph-open {
  width: 17px;
  height: 16px;
}

.si-glyph-pallette {
  width: 17px;
  height: 17px;
}

.si-glyph-paper-clip {
  width: 16px;
  height: 16px;
}

.si-glyph-paper-plane {
  width: 17px;
  height: 16px;
}

.si-glyph-paper-roll {
  width: 17px;
  height: 16px;
}

.si-glyph-paper-shredder {
  width: 17px;
  height: 17px;
}

.si-glyph-pause {
  width: 17px;
  height: 16px;
}

.si-glyph-pawn {
  width: 17px;
  height: 16px;
}

.si-glyph-paypal {
  width: 17px;
  height: 16px;
}

.si-glyph-pen-nib {
  width: 16px;
  height: 16px;
}

.si-glyph-pen {
  width: 17px;
  height: 16px;
}

.si-glyph-pencil {
  width: 17px;
  height: 16px;
}

.si-glyph-percent {
  width: 17px;
  height: 16px;
}

.si-glyph-person-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-person-checked {
  width: 16px;
  height: 16px;
}

.si-glyph-person-door-man {
  width: 17px;
  height: 17px;
}

.si-glyph-person-error {
  width: 16px;
  height: 16px;
}

.si-glyph-person-man {
  width: 17px;
  height: 16px;
}

.si-glyph-person-people {
  width: 16px;
  height: 16px;
}

.si-glyph-person-plus {
  width: 16px;
  height: 16px;
}

.si-glyph-person-prison {
  width: 17px;
  height: 17px;
}

.si-glyph-person-public {
  width: 16px;
  height: 16px;
}

.si-glyph-person-remove {
  width: 16px;
  height: 16px;
}

.si-glyph-person-talk {
  width: 16px;
  height: 16px;
}

.si-glyph-person-woman {
  width: 17px;
  height: 17px;
}

.si-glyph-person {
  width: 17px;
  height: 16px;
}

.si-glyph-pet-carrier {
  width: 17px;
  height: 16px;
}

.si-glyph-phone-fax {
  width: 17px;
  height: 16px;
}

.si-glyph-phone-number {
  width: 16px;
  height: 16px;
}

.si-glyph-piano {
  width: 17px;
  height: 16px;
}

.si-glyph-pick {
  width: 17px;
  height: 17px;
}

.si-glyph-picture-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-picture-copy {
  width: 15px;
  height: 15px;
}

.si-glyph-picture {
  width: 17px;
  height: 16px;
}

.si-glyph-piggy-bank {
  width: 17px;
  height: 17px;
}

.si-glyph-pill {
  width: 17px;
  height: 16px;
}

.si-glyph-pin-location-1 {
  width: 16px;
  height: 16px;
}

.si-glyph-pin-location-2 {
  width: 16px;
  height: 16px;
}

.si-glyph-pin-location-add {
  width: 17px;
  height: 16px;
}

.si-glyph-pin-location-delete {
  width: 17px;
  height: 16px;
}

.si-glyph-pin-location-love {
  width: 17px;
  height: 16px;
}

.si-glyph-pin-location-map {
  width: 16px;
  height: 16px;
}

.si-glyph-pin-location-remove {
  width: 17px;
  height: 16px;
}

.si-glyph-pin-location {
  width: 17px;
  height: 16px;
}

.si-glyph-pin-map {
  width: 17px;
  height: 16px;
}

.si-glyph-ping-pong-racket {
  width: 17px;
  height: 16px;
}

.si-glyph-pipe {
  width: 16px;
  height: 16px;
}

.si-glyph-pizza {
  width: 16px;
  height: 16px;
}

.si-glyph-plugin {
  width: 17px;
  height: 16px;
}

.si-glyph-plus {
  width: 17px;
  height: 17px;
}

.si-glyph-podium {
  width: 17px;
  height: 16px;
}

.si-glyph-poker-1 {
  width: 16px;
  height: 17px;
}

.si-glyph-poker-2 {
  width: 16px;
  height: 17px;
}

.si-glyph-poker-3 {
  width: 16px;
  height: 17px;
}

.si-glyph-poker-4 {
  width: 17px;
  height: 16px;
}

.si-glyph-print {
  width: 17px;
  height: 16px;
}

.si-glyph-puzzle {
  width: 17px;
  height: 16px;
}

.si-glyph-quote-close {
  width: 17px;
  height: 16px;
}

.si-glyph-quote-open {
  width: 17px;
  height: 16px;
}

.si-glyph-radio {
  width: 16px;
  height: 16px;
}

.si-glyph-radioactive {
  width: 17px;
  height: 16px;
}

.si-glyph-record {
  width: 17px;
  height: 16px;
}

.si-glyph-reduce {
  width: 16px;
  height: 16px;
}

.si-glyph-reel-audio {
  width: 16px;
  height: 16px;
}

.si-glyph-reel-film {
  width: 16px;
  height: 16px;
}

.si-glyph-remove {
  width: 17px;
  height: 17px;
}

.si-glyph-repeat {
  width: 16px;
  height: 17px;
}

.si-glyph-resize-in-frame {
  width: 17px;
  height: 16px;
}

.si-glyph-resize-out-frame {
  width: 17px;
  height: 16px;
}

.si-glyph-retroeexcavadora {
  width: 17px;
  height: 16px;
}

.si-glyph-ribbon {
  width: 17px;
  height: 16px;
}

.si-glyph-right-justify {
  width: 16px;
  height: 16px;
}

.si-glyph-rightwards-arrow-to-bar {
  width: 16px;
  height: 17px;
}

.si-glyph-ring {
  width: 17px;
  height: 16px;
}

.si-glyph-road {
  width: 17px;
  height: 16px;
}

.si-glyph-rocket {
  width: 17px;
  height: 16px;
}

.si-glyph-roller {
  width: 17px;
  height: 16px;
}

.si-glyph-rss {
  width: 17px;
  height: 16px;
}

.si-glyph-rugby-ball {
  width: 17px;
  height: 16px;
}

.si-glyph-ruler {
  width: 17px;
  height: 16px;
}

.si-glyph-safe-box {
  width: 17px;
  height: 16px;
}

.si-glyph-safe-pin {
  width: 17px;
  height: 16px;
}

.si-glyph-satellite {
  width: 16px;
  height: 16px;
}

.si-glyph-saw {
  width: 16px;
  height: 17px;
}

.si-glyph-scissor-line-cut {
  width: 17px;
  height: 16px;
}

.si-glyph-scissor {
  width: 17px;
  height: 17px;
}

.si-glyph-screen-ful {
  width: 17px;
  height: 16px;
}

.si-glyph-screen-scale {
  width: 17px;
  height: 16px;
}

.si-glyph-screw-driver {
  width: 16px;
  height: 16px;
}

.si-glyph-screw {
  width: 17px;
  height: 16px;
}

.si-glyph-sd-card {
  width: 17px;
  height: 17px;
}

.si-glyph-seriff {
  width: 17px;
  height: 16px;
}

.si-glyph-sewing-machine {
  width: 17px;
  height: 16px;
}

.si-glyph-sewing-roll {
  width: 17px;
  height: 16px;
}

.si-glyph-share-1 {
  width: 17px;
  height: 17px;
}

.si-glyph-share-2 {
  width: 17px;
  height: 17px;
}

.si-glyph-share-3 {
  width: 17px;
  height: 17px;
}

.si-glyph-share-5 {
  width: 17px;
  height: 16px;
}

.si-glyph-sheep {
  width: 17px;
  height: 17px;
}

.si-glyph-shield-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-shield-plus {
  width: 17px;
  height: 16px;
}

.si-glyph-shield-star {
  width: 16px;
  height: 16px;
}

.si-glyph-shield {
  width: 17px;
  height: 17px;
}

.si-glyph-shovel {
  width: 17px;
  height: 16px;
}

.si-glyph-shower {
  width: 17px;
  height: 16px;
}

.si-glyph-sign-board {
  width: 17px;
  height: 16px;
}

.si-glyph-sign-foot {
  width: 16px;
  height: 16px;
}

.si-glyph-sign-in {
  width: 16px;
  height: 17px;
}

.si-glyph-sign-out {
  width: 17px;
  height: 16px;
}

.si-glyph-sign-p {
  width: 17px;
  height: 16px;
}

.si-glyph-sign-road-1 {
  width: 17px;
  height: 16px;
}

.si-glyph-sign-road-2 {
  width: 16px;
  height: 17px;
}

.si-glyph-signal-1 {
  width: 16px;
  height: 17px;
}

.si-glyph-signal-2 {
  width: 16px;
  height: 16px;
}

.si-glyph-signal-3 {
  width: 17px;
  height: 16px;
}

.si-glyph-site-map-revert {
  width: 17px;
  height: 16px;
}

.si-glyph-site-map {
  width: 17px;
  height: 16px;
}

.si-glyph-skateboard {
  width: 16px;
  height: 16px;
}

.si-glyph-skull {
  width: 17px;
  height: 17px;
}

.si-glyph-sleep {
  width: 16px;
  height: 16px;
}

.si-glyph-slide-show {
  width: 16px;
  height: 16px;
}

.si-glyph-smartphone {
  width: 16px;
  height: 16px;
}

.si-glyph-sms {
  width: 16px;
  height: 16px;
}

.si-glyph-snow {
  width: 17px;
  height: 17px;
}

.si-glyph-soccer-yard {
  width: 17px;
  height: 17px;
}

.si-glyph-sock {
  width: 17px;
  height: 16px;
}

.si-glyph-socket {
  width: 17px;
  height: 16px;
}

.si-glyph-solar-blind {
  width: 16px;
  height: 16px;
}

.si-glyph-sos {
  width: 16px;
  height: 16px;
}

.si-glyph-sound-mute {
  width: 17px;
  height: 16px;
}

.si-glyph-sound {
  width: 17px;
  height: 17px;
}

.si-glyph-space-ship {
  width: 16px;
  height: 16px;
}

.si-glyph-spanner {
  width: 17px;
  height: 16px;
}

.si-glyph-spoon-fork {
  width: 16px;
  height: 16px;
}

.si-glyph-spray {
  width: 17px;
  height: 16px;
}

.si-glyph-square-checked {
  width: 16px;
  height: 16px;
}

.si-glyph-square-dashed-1 {
  width: 17px;
  height: 17px;
}

.si-glyph-square-dashed-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-square-delicious {
  width: 17px;
  height: 16px;
}

.si-glyph-square-eight-angle-point {
  width: 17px;
  height: 17px;
}

.si-glyph-square-four-angle-point {
  width: 17px;
  height: 16px;
}

.si-glyph-square-four {
  width: 17px;
  height: 16px;
}

.si-glyph-square-plus {
  width: 17px;
  height: 16px;
}

.si-glyph-square-star {
  width: 17px;
  height: 16px;
}

.si-glyph-square {
  width: 17px;
  height: 16px;
}

.si-glyph-stamps {
  width: 17px;
  height: 16px;
}

.si-glyph-star-cross {
  width: 16px;
  height: 16px;
}

.si-glyph-star-stick {
  width: 16px;
  height: 16px;
}

.si-glyph-stele {
  width: 17px;
  height: 16px;
}

.si-glyph-stelescope {
  width: 16px;
  height: 16px;
}

.si-glyph-stereo-jack {
  width: 16px;
  height: 16px;
}

.si-glyph-stethoscope {
  width: 17px;
  height: 16px;
}

.si-glyph-store {
  width: 17px;
  height: 16px;
}

.si-glyph-stove {
  width: 17px;
  height: 16px;
}

.si-glyph-strawberry {
  width: 16px;
  height: 16px;
}

.si-glyph-street-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-strolley-arrow-down {
  width: 17px;
  height: 16px;
}

.si-glyph-strolley-arrow-up {
  width: 17px;
  height: 16px;
}

.si-glyph-strolley-plus {
  width: 17px;
  height: 16px;
}

.si-glyph-strolley-remove {
  width: 17px;
  height: 16px;
}

.si-glyph-strolley {
  width: 17px;
  height: 16px;
}

.si-glyph-subway {
  width: 17px;
  height: 16px;
}

.si-glyph-suitcase-person {
  width: 17px;
  height: 16px;
}

.si-glyph-suitcase {
  width: 17px;
  height: 16px;
}

.si-glyph-syringe {
  width: 16px;
  height: 16px;
}

.si-glyph-t-shirt {
  width: 17px;
  height: 17px;
}

.si-glyph-tablet {
  width: 17px;
  height: 16px;
}

.si-glyph-tag-1 {
  width: 17px;
  height: 16px;
}

.si-glyph-tag-one-plus {
  width: 17px;
  height: 16px;
}

.si-glyph-tag-price {
  width: 16px;
  height: 16px;
}

.si-glyph-tag {
  width: 17px;
  height: 16px;
}

.si-glyph-tank {
  width: 17px;
  height: 16px;
}

.si-glyph-targer {
  width: 16px;
  height: 16px;
}

.si-glyph-tea-cup {
  width: 17px;
  height: 16px;
}

.si-glyph-teeth {
  width: 17px;
  height: 17px;
}

.si-glyph-telephone-box {
  width: 16px;
  height: 16px;
}

.si-glyph-telescope {
  width: 16px;
  height: 16px;
}

.si-glyph-television {
  width: 17px;
  height: 17px;
}

.si-glyph-tennis-racket-ball {
  width: 17px;
  height: 16px;
}

.si-glyph-tent-1 {
  width: 17px;
  height: 16px;
}

.si-glyph-tent-camp {
  width: 17px;
  height: 16px;
}

.si-glyph-test-tube-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-test-tube-empty {
  width: 17px;
  height: 16px;
}

.si-glyph-test-tube {
  width: 16px;
  height: 16px;
}

.si-glyph-text-search {
  width: 16px;
  height: 16px;
}

.si-glyph-thermometer {
  width: 17px;
  height: 17px;
}

.si-glyph-three-ball {
  width: 16px;
  height: 16px;
}

.si-glyph-tic-tac-toe {
  width: 17px;
  height: 16px;
}

.si-glyph-time-glass {
  width: 17px;
  height: 16px;
}

.si-glyph-time-reload {
  width: 17px;
  height: 16px;
}

.si-glyph-timer {
  width: 16px;
  height: 16px;
}

.si-glyph-toilet {
  width: 17px;
  height: 16px;
}

.si-glyph-tool-box {
  width: 17px;
  height: 16px;
}

.si-glyph-traffic-light {
  width: 16px;
  height: 16px;
}

.si-glyph-train-rail {
  width: 17px;
  height: 16px;
}

.si-glyph-train {
  width: 17px;
  height: 16px;
}

.si-glyph-trash {
  width: 16px;
  height: 16px;
}

.si-glyph-tree {
  width: 17px;
  height: 16px;
}

.si-glyph-trees {
  width: 17px;
  height: 16px;
}

.si-glyph-triangle-double-arrow-down {
  width: 17px;
  height: 17px;
}

.si-glyph-triangle-double-arrow-left {
  width: 17px;
  height: 17px;
}

.si-glyph-triangle-double-arrow-right {
  width: 16px;
  height: 16px;
}

.si-glyph-triangle-double-arrow-up {
  width: 16px;
  height: 17px;
}

.si-glyph-triangle-down {
  width: 17px;
  height: 16px;
}

.si-glyph-triangle-left {
  width: 17px;
  height: 17px;
}

.si-glyph-triangle-right {
  width: 17px;
  height: 16px;
}

.si-glyph-triangle-up {
  width: 17px;
  height: 16px;
}

.si-glyph-trolley-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-trolley-arrow-down {
  width: 17px;
  height: 16px;
}

.si-glyph-trolley-arrow-up {
  width: 17px;
  height: 16px;
}

.si-glyph-trolley-briefcase {
  width: 17px;
  height: 16px;
}

.si-glyph-trolley-error {
  width: 16px;
  height: 16px;
}

.si-glyph-trolley-full {
  width: 16px;
  height: 16px;
}

.si-glyph-trolley-plus {
  width: 17px;
  height: 16px;
}

.si-glyph-trolley-remove {
  width: 17px;
  height: 16px;
}

.si-glyph-truck {
  width: 17px;
  height: 16px;
}

.si-glyph-trumpet {
  width: 17px;
  height: 16px;
}

.si-glyph-turn-off {
  width: 17px;
  height: 16px;
}

.si-glyph-two-arrow-down {
  width: 17px;
  height: 16px;
}

.si-glyph-two-arrow-in-down-up {
  width: 17px;
  height: 16px;
}

.si-glyph-two-arrow-in-left-right {
  width: 17px;
  height: 16px;
}

.si-glyph-two-arrow-left {
  width: 17px;
  height: 16px;
}

.si-glyph-two-arrow-right {
  width: 17px;
  height: 16px;
}

.si-glyph-typewriter {
  width: 17px;
  height: 16px;
}

.si-glyph-umberlla-chair {
  width: 17px;
  height: 16px;
}

.si-glyph-umbrella-close {
  width: 17px;
  height: 16px;
}

.si-glyph-umbrella-open {
  width: 17px;
  height: 16px;
}

.si-glyph-umbrella-sea {
  width: 17px;
  height: 17px;
}

.si-glyph-upstair {
  width: 17px;
  height: 16px;
}

.si-glyph-upwards-arrow-to-bar {
  width: 16px;
  height: 17px;
}

.si-glyph-upwards-arrow-with-loop {
  width: 17px;
  height: 16px;
}

.si-glyph-usb {
  width: 17px;
  height: 16px;
}

.si-glyph-view {
  width: 17px;
  height: 16px;
}

.si-glyph-wacom-tablet {
  width: 16px;
  height: 17px;
}

.si-glyph-wall {
  width: 17px;
  height: 16px;
}

.si-glyph-wallet {
  width: 17px;
  height: 16px;
}

.si-glyph-wash-machine-2 {
  width: 17px;
  height: 16px;
}

.si-glyph-wash-machine {
  width: 17px;
  height: 16px;
}

.si-glyph-watch {
  width: 17px;
  height: 16px;
}

.si-glyph-webcam {
  width: 16px;
  height: 16px;
}

.si-glyph-weight-down {
  width: 16px;
  height: 16px;
}

.si-glyph-weight-kilograms {
  width: 16px;
  height: 16px;
}

.si-glyph-weight-up {
  width: 17px;
  height: 16px;
}

.si-glyph-wheel-chair {
  width: 17px;
  height: 17px;
}

.si-glyph-wheel-steel {
  width: 16px;
  height: 16px;
}

.si-glyph-wieght {
  width: 17px;
  height: 16px;
}

.si-glyph-wifi-1 {
  width: 16px;
  height: 16px;
}

.si-glyph-wind-turbines {
  width: 17px;
  height: 16px;
}

.si-glyph-window {
  width: 17px;
  height: 16px;
}

.si-glyph-wood-stove {
  width: 17px;
  height: 16px;
}

.si-glyph-wrench-screwdriver {
  width: 16px;
  height: 16px;
}

.si-glyph-wrench {
  width: 17px;
  height: 16px;
}

.si-glyph-yen {
  width: 17px;
  height: 16px;
}

.si-glyph-ying-yang {
  width: 17px;
  height: 17px;
}

.si-glyph-zip {
  width: 17px;
  height: 17px;
}

.si-glyph-zoom-in {
  width: 17px;
  height: 16px;
}

.si-glyph-zoom-out {
  width: 17px;
  height: 16px;
}

