<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <!-- autocomplete="off" -->
    <form id="loginForm" name="loginForm" method="get" autocomplete="nope" >
        Username: <input name="username" type="text" autocomplete="nope" />
        Password: <input name="password" type="password" autocomplete="nope" />
        <input id="submit" onclick="submit()" type="submit" value="submit" />
    </form>
</body>
</html>
