<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>My APP</title>
	<meta charset="utf-8" />
</head>
<body>
    <script src="{{assetPath "scripts/foo.js"}}"></script>
    <script src="{{assetPath "scripts/bar.js"}}"></script>
    {{ scripts }}
</body>
</html>
